[Unit]
Description=noip2
After=network.target


[Service]
Type=forking
ExecStart=/usr/local/bin/noip2 -c /usr/local/etc/no-ip2.conf
# ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=null
StandardError=null
# User=nobody

[Install]
WantedBy=multi-user.target
